
<div class="row">
  <div class="large-6 medium-8 small-9 large-entered medium-centered small-centered columns top-space-80" id="form">
  <br>
  <br>
    <h1><%= link_to image_tag("logo.png", :border => 0), root_url %></h1>
    <br>
    <br>
    <%= image_tag("cassette.png") %>
   <!--  <div class="signin">
      <% if current_user %>
        <h5>Welcome, <%= current_user.name %>!</h5>
        <br>
        <br>
        <span><%= link_to "Sign out", signout_path %></span>
      <% else %>
        <span><%= link_to "Sign in with GitHub", "/auth/github" %></span>
      <% end %>
    </div> -->
<p>home#index</p>
<p>root_path</p>
<p>this is where the player goes</p>
  </div>
</div>
