<div class="large-6 medium-8 small-9 large-centered medium-centered small-centered columns top-space-80">
<!--   <h1>I Am the Player</h1>
  <p>home#index  root_path</p> -->
  <% @songs.each do |s| %>
    <object height="50" width="100%">
      <param name="movie" value="https://player.soundcloud.com/player.swf?url=<%= s.url %>&player_type=tiny{widgetParams}"></param>
      <param name="allowscriptaccess" value="always"></param>
      <param name="wmode" value="transparent"></param>
      <embed wmode="transparent" allowscriptaccess="always" height="18" width="100%"     src="https://player.soundcloud.com/player.swf?    url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2Ferb<%= s.url %>">    </embed>
    </object>
    <h6>Shared by: <a href="/users/<%= s.user.id %>"><%= s.user.name %></a></h6>
    <%= pluralize s.reputation_for(:votes).to_i, "vote" %>
    <%= link_to "like", vote_song_path(s, type: "like"), method: "post" %>
    <%= link_to "dislike", vote_song_path(s, type: "dislike"), method: "post" %>
  <% end %>

</div>
