
<div class="large-6 medium-8 small-9 large-centered medium-centered small-centered columns top-space-80" id="box">
  <% @songs.each_with_index do |s, i| %>
    <div data-track-id="<%= i %>" class="track">
      <object height="20px" width="100%" id="song<%= i %>">
        <param name="movie" value="https://player.soundcloud.com/player.swf?url=<%= s.url %>&enable_api=true&player_type=tiny&show_comments=false&object_id=song<%= i %>"></param>
        <param name="allowscriptaccess" value="always"></param>
        <param name="wmode" value="transparent"></param>
        <embed wmode="transparent" allowscriptaccess="always" height="18" width="100%" src="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2Ferb<%= s.url %>&enable_api=true&object_id=song<%= i %>" name="song<%= i %>"></embed>
      </object>
      <p id="share">Shared by: <a href="/users/<%= s.user.id %>" class="shared-by"><%= s.user.name %></a></p>
      <div>
        <div class="total">
          <%= pluralize s.reputation_for(:votes).to_i, "like" %>
        </div>
        <div class="likes">
          <% if current_user %>
            <%= link_to "hot", vote_song_path(s), class: "like vote", data: { type: "like" } %> <span style="color: white">|</span>
            <%= link_to "wack", vote_song_path(s), class: "dislike vote", data: { type: "dislike" } %>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
</div>

<% content_for :js do %>
  <script type="text/javascript">
    soundcloud.addEventListener('onMediaEnd', function(player, data) {
      // check for when the media ends and get the player object and check its id and then find the object inside the tracks array that has id and get the index of that object.... get the nex track in the array through incrementing and use the soundcloud api to start the player by the id of that next track
      var current =
      var ended = this.id;
      console.log("end");
    });
    soundcloud.addEventListener('onPlayerReady', function(player, data) {
      console.log('readddyyy');
    });
    soundcloud.addEventListener('onMediaSeek', function(player, data) {
      console.log('seek!')
    });
  </script>
<% end %>

<!--

developers.soundcloud.com/docs/widget#methods

use some js to `enable_api` check
use soundcloud.addEventListener function to listen to swf player

list for...

soundcloud.addEventListener('onMediaEnd', function(player, data) {
  console.log('yo nigga this worked!')
}

api_play()

-->
