<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Code Jam" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>


    <div class="wrapper">
      <div class="contain-to-grid sticky">
        <nav class="top-bar" data-topbar data-options="sticky_on: large">
          <ul class="title-area">
            <li class="name"></li>
          </ul>
          <section class="top-bar-section no-color">
          <ul class="right">
    <!-- <div class="ten columns centered"> -->
      <% if current_user %>
        <li><span class="username">Welcome, <%= current_user.name %>!</span></li>
        <li><span><%= link_to "Add a Song", new_song_path %></span></li>
        <li><span><%= link_to "Sign out", signout_path %></span></li>
      <% else %>
        <li><span><%= link_to "Sign in with GitHub", "/auth/github" %></span></li>

        </ul>
      <% end %>
    <!-- </div> -->
</section>
</nav>
</div>
    <%= yield %>


    <%= javascript_include_tag "application" %>
  </body>
</html>


