<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Code Jam" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
    <script src="//connect.soundcloud.com/sdk.js"></script>
    <script>
      SC.initialize({
        client_id: "YOUR_CLIENT_ID"
        // redirect_uri: "http://example.com/callback.html",
      });
    </script>
  </head>

  <body>
    <div class="wrapper">
      <div class="contain-to-grid sticky">
        <nav class="top-bar" data-topbar data-options="sticky_on: large">
          <ul class="title-area">
            <li class="name"></li>
          </ul>
          <section class="top-bar-section no-color">
            <ul class="left">
              <a href="#" data-reveal-id="myModal">About</a>
              <div id="myModal" class="reveal-modal" data-reveal>
                <h2>Jam on it.</h2>
                <p>Music is a huge driving force in most people's lives and can be very inspirational.  the idea behind this project is for other developers to be able to share what is driving them that day, what they are jamming to and hacking away.</p>
                <p>I'm always posting new music and what I'm listening to on my Twitter.  GO ahead and follow or just check me out every now and then to see what I'm listening to.<br><a href="http://twitter.com/yungwelchsgrape" target="_blank" class="white-text">@yungwelchsgrape</a></p>
                <a class="close-reveal-modal">&#215;</a>
              </div>
            </ul>
            <ul class="right">
              <% if current_user %>
                <li class="username"><span>Welcome, <%= current_user.name %>!</span></li>
                <li><span><%= link_to "Add a Song", new_song_path %></span></li>
                <li><span><%= link_to "Sign out", signout_path %></span></li>
              <% else %>
                <li><span><%= link_to "Sign in with GitHub", "/auth/github" %></span></li>
            </ul>
              <% end %>
          </section>
        </nav>
      </div>
    </div>


    <div class="row">
      <div class="large-6 medium-8 small-9 large-centered medium-centered small-centered columns top-space-80" id="form">
      <br>
      <br>
        <h1><%= link_to image_tag("logo.png", :border => 0), root_url %></h1>
        <br>
        <br>
        <!-- <%= image_tag("cassette.png") %> -->
       <!--  <div class="signin">
          <% if current_user %>
            <h5>Welcome, <%= current_user.name %>!</h5>
            <br>
            <br>
            <span><%= link_to "Sign out", signout_path %></span>
          <% else %>
            <span><%= link_to "Sign in with GitHub", "/auth/github" %></span>
          <% end %>
        </div> -->

      </div>
    </div>

    <%= yield %>

    <%= javascript_include_tag "application" %>
  </body>
</html>


