<!DOCTYPE html>
<html>
<head>
  <title>CodeJam</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="user_nav">
    <% if current_user %>
      <h5>Welcome, <%= current_user.name %>!</h5>
      <br>
      <br>
      <a href="/signout" class="signout-button">Sign Out</a>
    <% else %>
      <a href="/auth/github" class="signin-button">Sign in with Github</a>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
